.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #2d3436;
  padding: 1rem 1.5rem;
}

.navbar-brand h1 {
  color: #dfe6e9;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-menu li {
  color: #dfe6e9;
  cursor: pointer;
}

.navbar-menu li a:hover,
.navbar-menu li:hover {
  text-decoration: underline;
}

.navbar-menu li + li {
  margin-left: 1.6rem;
}
